<section class="about-section container py-5">
  <div class="row align-items-center">
    <!-- Image -->
    <div class="col-lg-6 mb-4 mb-lg-0">
      <img
        src="images/1778268412447.jpg"
        alt="About Me"
        class="img-fluid about-img"
      />
    </div>

    <!-- Content -->
    <div class="col-lg-6">
      <h1 class="fw-bold mb-4 display-3">About Me</h1>

      <p class="lead text-dark">
        I'm Bassant — a Full-Stack .Net developer passionate Frontend Developer who enjoys creating modern, responsive, and
        user-friendly web applications. I love learning new technologies and improving my skills in
        Angular, TypeScript, and web design.
      </p>

      <p class="lead text-dark">
        My goal is to build clean and interactive interfaces that provide the best user experience
        while continuously growing as a developer.
      </p>

      <p class="fw-bold fs-4 mt-5">Turning ideas into real and interactive web experiences.</p>
    </div>
  </div>
</section>
