<footer class="custom-footer">
  <div class="container">
    <!-- Links -->
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item">
        <a class="nav-link footer-link" href="https://www.linkedin.com/in/bassant-adel-968086226/">
          LinkedIn
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link footer-link" href="https://github.com/bassantadel71"> Github </a>
      </li>

      <li class="nav-item">
        <a class="nav-link footer-link" href="mailto:bassant7120@gmail.com"> Gmail </a>
      </li>

      <li class="nav-item">
        <a routerLink="/main/about" class="nav-link footer-link"> About </a>
      </li>
    </ul>

    <!-- Copyright -->
    <p class="text-center footer-text">© 2026 Task Manager</p>
  </div>
</footer>
