<section class="container-fluid home-bg">
  <app-slide-show></app-slide-show>

  <section class="container py-5">
    <h3 class="text-center mb-4 section-title">What you can do</h3>

    <div class="row g-4">
      <div class="col-md-4">
        <div class="feature-card reveal-on-scroll  shadow-sm p-4 hover-scale">
          <h5 class="mb-2 mt-2">Add Tasks</h5>
          <p class="mb-0 mt-4">Create tasks quickly, set priorities, and keep your day organized.</p>
        </div>
      </div>

      <div class="col-md-4 .shadow-5">
        <div class="feature-card reveal-on-scroll shadow-sm p-4 hover-scale">
          <h5 class="mb-2 mt-2">Update Tasks</h5>
          <p class="mb-0 mt-4">Edit titles, details, and statuses anytime as your plan changes.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature-card reveal-on-scroll shadow-sm p-4 hover-scale">
          <h5 class="mb-2 mt-2">Delete Tasks</h5>
          <p class="mb-0 mt-4">Remove completed or unnecessary tasks to keep your list clean.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-5">
    <div class="row align-items-center g-4 cta-box">
      <div class="col-lg-6">
        <img src="images/do.jfif" alt="Ready to manage tasks" class="img-fluid rounded-4 w-100">
      </div>

      <div class="col-lg-6">
        <h3 class="mb-3">Ready to add your tasks?</h3>
        <p class="mb-4 ">
          Start now and keep your goals clear, simple, and under control with your Task Manager.
        </p>
        <a routerLink="/add-task" class="btn cta-btn px-4 py-2">Add Task</a>
      </div>
    </div>
  </section>
</section>
